/* HEADER - START */
/* HEADER (FOR JAVA SCRIPT) */
.header-background-opacity-25 {
  background-color: #0e1d283d;
  box-shadow: 0 0 7px #8a8a8a41;
}

.header-background-opacity-50 {
  background-color: #0e1d2883;
  box-shadow: 0 0 7px #8a8a8a80;
}

.header-background-opacity-75 {
  background-color: #0e1d28a2;
  box-shadow: 0 0 7px #8a8a8ac2;
}

.header-background-opacity-100 {
  background-color: #0e1d28;
  box-shadow: 0 0 7px #8a8a8a;
}

/* HEADER (FOR JAVA SCRIPT) */
header {
  position: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 99;
  width: 100%;
  margin-bottom: 177px;
  border-color: black;
  transition: 0.2s linear;
}

.header-wrapper {
  max-width: 1062px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-menu {
  z-index: 100;
}
.main-menu__list {
  display: flex;
}
.main-menu__item {
  margin-left: 82px;
  padding: 10px 20px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(211, 211, 211, 0);
  color: white;
  transition: 0.2s;
}
.main-menu__item:hover {
  opacity: 1;
  color: white;
  border-bottom: 1px solid #707070;
  border-radius: 25px;
  transition: 0.2s;
}

.header-burger {
  display: none;
}
.header-burger__img {
  width: 35px;
  box-shadow: 0 0 5px #4d0000;
}

.main-menu__close {
  display: none;
  z-index: 101;
}

.main-menu__close-img {
  width: 35px;
  box-shadow: 0 0 5px #4d0000;
}

@media (max-height: 700px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1061px) {
  .main-menu__item {
    margin-left: 60px;
  }
}
@media (max-width: 1102px) {
  .header-wrapper {
    padding: 0px 20px;
  }
}
@media (max-width: 750px) {
  .header-burger {
    display: block;
  }

  .main-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #0e1d28f6;
    padding: 115px 40px 50px 40px;
    overflow: scroll;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .main-menu__active {
    transform: translateX(0);
    transition: 0.2s all linear;
  }

  .main-menu__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .main-menu__item {
    margin-left: 0px;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 25px;
    text-align: end;
  }

  .main-menu__close {
    display: block;
    position: absolute;
    z-index: 150;
    top: 30px;
    right: 20px;
  }

  .main-menu__item:hover {
    border-bottom: 1px solid rgba(112, 112, 112, 0);
  }
}
@media (max-height: 700px) {
  .main-menu__close {
    top: 20px;
  }
}
/* HEADER - END */
/* DISCOVER AMAZING - START */
.discover-amazing {
  max-width: 1062px;
  margin: 0 auto;
}
.discover-amazing__title {
  padding-top: 230px;
  margin-bottom: 22px;
}
.discover-amazing__text {
  max-width: 546px;
  margin-bottom: 60px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-shadow: black 0px 0 5px;
}
.discover-amazing__input-form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.background-picture {
  top: 0px;
  background: url(../img/1b_bg.jpg) no-repeat top;
  min-height: 100vh;
  background-size: cover;
}

.main-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.text-input-field {
  width: 220px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 5px black;
  background: transparent;
}
.text-input-field::-moz-placeholder {
  color: white;
}
.text-input-field:-ms-input-placeholder {
  color: white;
}
.text-input-field::placeholder {
  color: white;
}

.is-input-weight {
  width: 211px;
}

.input-your-like {
  margin-right: 60px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  text-indent: 35px;
  border: 0px;
  border-bottom: 2px solid #9e9e9e;
  background: url(../img/circle-ico.svg) 0px 17px no-repeat;
  transition: 0.2s;
}

.input-your-like:hover {
  border-bottom: 2px solid white;
  transition: 0.2s;
}

.button {
  padding: 15px 39px;
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 2px 1px 4px #5a5a5a;
  color: white;
  background-color: #1B7DFF;
  border-radius: 5px;
  transition: 0.2s;
}

.button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.2s;
}

.button:active {
  background-color: #145bb8;
}

@media (max-width: 1102px) {
  .discover-amazing {
    padding: 0px 20px;
  }
}
@media (max-width: 870px) {
  .button {
    margin-top: 20px;
  }
}
@media (max-height: 815px) {
  .discover-amazing__title {
    padding-top: 180px;
  }
}
@media (max-width: 500px) {
  .discover-amazing__title {
    padding-top: 130px;
  }

  .discover-amazing__text {
    margin-bottom: 60px;
  }
}
/* DISCOVER AMAZING - END */
/* BENEFITS - START */
.benefits {
  transform: translateY(-140px);
  max-width: 1262px;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 7px #8a8a8a;
  border-radius: 10px;
}

.benefits-container {
  padding: 100px 100px 0px 100px;
}

.benefits-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 42px;
}

.title {
  margin-bottom: 120px;
  font-size: 35px;
  font-weight: 500;
}

.benefits-articles {
  display: flex;
  justify-content: space-between;
}

.benefits-article {
  padding-right: 55px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.benefits-article:last-child {
  padding-right: 0px;
}

.benefits-icon {
  margin-bottom: 37px;
}

.article-title {
  text-align: start;
  margin-bottom: 26px;
}

.benefits-text {
  margin-bottom: 39px;
  max-width: 317px;
  align-self: auto;
  flex: 1 1 auto;
}

.button-arrow__link {
  display: block;
  transition: letter-spacing 0.3s;
  transition: 0.2s;
  color: #006DFE;
  background: url(../img/about_ico_share.svg) 130px 8px no-repeat;
}
.button-arrow__link:hover {
  background: url(../img/about_ico_share.svg) 140px 8px no-repeat;
  letter-spacing: 1px;
  transition: letter-spacing 0.2s;
  transition: 0.2s;
}

@media (max-height: 820px) {
  .benefits {
    transform: none;
    margin-bottom: 50px;
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 1302px) {
  .benefits {
    box-shadow: 0 0 5px #8a8a8a;
    border-radius: 0px;
  }
}
@media (max-width: 1261px) {
  .benefits {
    transform: none;
  }
}
@media (max-width: 955px) {
  .benefits-container {
    padding: 50px 30px 0px 30px;
  }

  .benefits-article {
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .benefits-articles {
    flex-wrap: wrap;
  }
}
@media (max-width: 730px) {
  .benefits-articles {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }

  .benefits-container {
    max-width: 500px;
    margin: 0 auto;
  }

  .benefits-text {
    max-width: 100%;
  }

  .benefits-article {
    padding-right: 0px;
  }

  .title {
    margin-bottom: 50px;
  }
}
/* BENEFITS - END */