
/* GET INSPIRED - START */

.main {
    
}
.main-container {
    
    max-width: 1262px;
    margin: 0 auto;
}

.get-inspired {

	&__heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
	}
	&__title {
        line-height: 42px;
        padding-right: 25px;
	}
    &__picture {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 7px;
        box-shadow: 0 0 10px rgb(126, 126, 126);
        
	}
    
    &__button-arrow {
        
        margin-bottom: 50px;
    }

    &__link {
        display: block;
        padding-right: 70px;
        
        
        
        
        color: #006DFE;
        background: url(../img/about_ico_share.svg) 100px 8px no-repeat;
        transition: transform .3s;
    }
    &__link:hover {
        transform: scale(1.1, 1);
        transition: transform .3s;
    }
}




.picture-img {
    transform: scale(1.00);
    transition: transform .3s; 
    
    
}
.picture-img:hover {
    transform: scale(1.07);
    transition: transform .3s;
    
}
.is-inspired-link {
    
}

.title {

}








.two-picture {
    display: flex;
    
    
    justify-content: space-between;
    
}

.picture-link {
    
}

.picture-link:hover {

}


.picture-name {

}

.main-title {

}

.is-position {
    position: absolute;
    bottom: 30px;
    left: 35px;

    font-weight: 700;
}

.three-picture {
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 131px;
}



@media (max-width: 1302px) {
    .get-inspired {
        padding: 0 20px;
    }
    .two-picture {
        flex-direction: column;
    }
    .three-picture {
        flex-direction: column;
    }
    .picture-img {
        width: 100%;
    }
}
@media (max-width: 1261px) {
    .get-inspired {
        margin-top: 120px;
    }
    
}
@media (max-width: 730px) {
    .get-inspired {
        margin-top: 50px;
    }
    .three-picture {
        margin-bottom: 50px;
    }
}
@media (max-width: 360px) {
    .is-fs-small {
        font-size: 35px;
    }
    .is-position {
        bottom: 20px;
    }
}

/* GET INSPIRED - END */