.locations {
    
}

.section-container {}

.locations-container {}

.locations-content {
    position: relative;
    transform: translateY(-78px);
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: solid 1px white;
    overflow: hidden;
    box-shadow: 0 0 7px #8a8a8a;
}

.tab-content {
    position: relative;
    &.tab-hide {
        display: none;
    }

    &.tab-show {
        display: block;
    }
}
.tab-content::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:black;
    opacity: 0.2;
}

.tab-content img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px 0px 10px 10px;
}

.tab-menu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;

    &__list {
        
        margin-top: 1px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        border-radius: 0px 0px 10px 10px;
    }

    &__item {
        height: 45px;
        padding: 10px;
        text-align: center;
        font-size: 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        border-radius: 20px;
        background: rgba(104, 104, 104, 0.9);
        border: 1px solid #d6d6d6;
        transition: ease-in-out 0.3s;

        &.is-tab-active {
            font-size: 14px;
            color: white;
            background: rgb(27, 72, 78);
            font-weight: 700;
            letter-spacing: 4px;
            transition: ease-in-out 0.3s;
            border: 1px solid #ffffff;
        }
        
    }
}

.tab-start {
    animation: tab-start 0.4s ease-in-out;
}

.tab-end {
    animation: tab-end 0.4s ease-in-out;
}

.picture-effect {}

@keyframes tab-start {
    0% {
        opacity: 0.65;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes tab-end {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.65;
    }
}

@media (max-width: 1302px) {
    .locations-container {
        padding: 0px 20px;
    }
}

@media (max-width: 1261px) {
    .locations-container {
        margin-top: 120px;
    }
    .locations-content {
        transform: translateY(-70px);
    }
}
@media (max-width: 1261px) {
    
    
}
@media (max-width: 1150px) {
    .tab-menu {

        &__item {
            height: 15px;
            font-size: 0px;
            padding: 2px;
            
            &.is-tab-active {
                font-size: 0px;
                
            }
        }
    }
    .tab-content img {
        height: 500px;
    }
}

@media (max-width: 650px) {
    .tab-content img {
        height: 350px;
    }
    .locations-container {
        margin-top: 50px;
    }
    .locations-content {
        transform: translateY(-27px);
    }
}
@media (max-width: 460px) {
    .tab-content img {
        height: 200px;
    }
}