
/* TOP PLACES - START */

.top-places {

    &__title {
        margin-top: 150px;
        line-height: 42px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.title {

}

.visit-card {
    max-width: 377px;
    
    display: flex;
    flex-direction: column;

    &__visual-part {
        position: relative;
        margin-bottom: 45px;
        
        color: white;
    }
    &__visual-part:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 55px;
        background: rgba(21, 24, 36, 0.6);
        border-radius: 0px 0px 7px 7px;
        bottom: 0px;
        left: 0px;
        z-index: 3;
    }
    &__picture {
        
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 0 10px rgb(126, 126, 126);
    }
    
    &__text {
        margin-bottom: 43px;
        flex: 1 1 auto;
    }

    &__button {
        margin-bottom: 62px;
    }

    &__link {
        padding: 12px 19px;
        background-color: #006DFE;
        border-radius: 5px;
        color: white;
        box-shadow: 2px 4px 10px grey;
        transition: .2s;
        display: inline-block;
    }

    &__link:hover {
        background-color: #003375;
        color: white;
        transition: .2s;
        transform: scale(1.15, 1.15);
    }
}

.picture-sign {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 4;

    &__town {
        
        
    }

    &__likes-comments {
        display: flex;
        
    }

    &__likes {
        padding-left: 25px;
        background: url(../img/likes.svg) 0px 5px no-repeat;
        background-size: 16px;
    }

    &__comments {
        margin-left: 20px;
        padding-left: 25px;
        background: url(../img/comments.svg) 0px 5px no-repeat;
        background-size: 16px;
    }
}


@media (max-width: 1301px) {
    .visit-card {
        margin: 0 20px;
    }
    .top-places__container {
        padding: 0 40px;
    }
    .top-places__title {
        padding: 0 60px;
    }
}

@media (max-width: 915px) {
    .visit-card {
        margin: 0 20px;
        
    }
    .top-places__container {
        padding: 0;
    }
    .top-places__title {
        padding: 0 20px;
    }
}

@media (max-width: 835px) {
    .top-places__container {
        flex-direction: column;
        align-items: center;
    }
    .top-places__title {
        text-align: center;
        margin-top: 0px;
    }
    .visit-card {
        max-width: 835px;
    }
    .visit-card__picture {
        width: 100%;
    }
}

/* TOP PLACES - END */